doctype html
html
    head
        title= title
        //link(rel='stylesheet', href='/css/libs/bootstrap.darkly.css')
        //link(rel='stylesheet', href='/css/libs/bootswatch.min.css')
        link(rel='stylesheet', href='/css/libs/bootstrap.flat.css')
        link(rel='stylesheet', href='/css/libs/font-awesome.min.css')
        link(rel='stylesheet', href='/css/libs/icomoon.css')
        block styles
        link(rel='stylesheet', href='/css/style.css')
    body

        include _includes/header

        .container
            - if (typeof show_title === 'undefined')
                .page-header
                    h1= title
                        block sub-title

            .page-content
                - if(typeof messages !== "undefined")
                    - if (messages.error)
                        .alert.alert-danger
                            span= messages.error
                    - if (messages.success)
                        .alert.alert-success
                            span= messages.success
                    - if (messages.info)
                        .alert.alert-info
                            span= messages.info
                    - if (messages.warning)
                        .alert.alert-warning
                            span= messages.warning

                block content

        include _includes/footer

        script(src='/js/libs/jquery.min.js')
        script(src='/js/libs/bootstrap.min.js')
        script(src='/js/base.js')
        block scripts
        script(src='/js/main.js')
        block post_scripts

